:root {
  --text-color: #303133;
  --base-color: #03aa8c;
  --header-height: 60px;
  --aside-width: 200px;
  --aside-menu-text: #fff;
  --aside-menu-background: #03aa8c;
  --aside-menu-active-background: #058f6e;
  --border: 1px solid #eee;
}
